page-example {
    body {
        margin:0px;
        background-image:none;
        position:static;
        left:auto;
        width:1353px;
        margin-left:0;
        margin-right:0;
        text-align:left;
      }
      #base {
        position:absolute;
        z-index:0;
      }
      #u0_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:874px;
        height:1252px;
      }
      #u0 {
        border-width:0px;
        position:absolute;
        left:290px;
        top:-96px;
        width:874px;
        height:1252px;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
      }
      #u0_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        visibility:hidden;
        word-wrap:break-word;
      }
      #u1_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:1034px;
        height:21px;
      }
      #u1 {
        border-width:0px;
        position:absolute;
        left:218px;
        top:123px;
        width:1034px;
        height:21px;
      }
      #u1_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        visibility:hidden;
        word-wrap:break-word;
      }
      #u2 {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        height:0px;
      }
      #u3 {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        height:0px;
      }
      #u4_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:773px;
        height:1039px;
      }
      #u4 {
        border-width:0px;
        position:absolute;
        left:353px;
        top:11px;
        width:772px;
        height:1038px;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        font-family:'Arial Fett', 'Arial Standard', 'Arial';
        font-weight:700;
        font-style:normal;
        font-size:14px;
        color:#CCCCCC;
      }
      #u4_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        visibility:hidden;
        word-wrap:break-word;
      }
      #u5_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:108px;
        height:25px;
      }
      #u5 {
        border-width:0px;
        position:absolute;
        left:1151px;
        top:188px;
        width:107px;
        height:24px;
        font-size:16px;
        color:#333333;
      }
      #u5_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:107px;
        word-wrap:break-word;
      }
      #u6_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:1000px;
        height:48px;
      }
      #u6 {
        border-width:0px;
        position:absolute;
        left:238px;
        top:634px;
        width:999px;
        height:47px;
        font-family:'Arial Fett', 'Arial Standard', 'Arial';
        font-weight:700;
        font-style:normal;
        font-size:21px;
        color:#FFFFFF;
      }
      #u6_img.mouseOver {
      }
      #u6.mouseOver {
      }
      #u6_img.mouseDown {
      }
      #u6.mouseDown {
      }
      #u6_text {
        border-width:0px;
        position:absolute;
        left:2px;
        top:11px;
        width:995px;
        word-wrap:break-word;
      }
      #u7_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:456px;
        height:81px;
      }
      #u7 {
        border-width:0px;
        position:absolute;
        left:634px;
        top:791px;
        width:456px;
        height:81px;
      }
      #u7_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        visibility:hidden;
        word-wrap:break-word;
      }
      #u8_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:1041px;
        height:34px;
      }
      #u8 {
        border-width:0px;
        position:absolute;
        left:218px;
        top:144px;
        width:1040px;
        height:33px;
        font-family:'Arial Fett', 'Arial Standard', 'Arial';
        font-weight:700;
        font-style:normal;
        font-size:21px;
        color:#FFFFFF;
      }
      #u8_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:4px;
        width:1040px;
        word-wrap:break-word;
      }
      #u9_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:1000px;
        height:48px;
      }
      #u9 {
        border-width:0px;
        position:absolute;
        left:238px;
        top:706px;
        width:999px;
        height:47px;
        font-family:'Arial Fett', 'Arial Standard', 'Arial';
        font-weight:700;
        font-style:normal;
        font-size:21px;
        color:#FFFFFF;
      }
      #u9_img.mouseOver {
      }
      #u9.mouseOver {
      }
      #u9_img.mouseDown {
      }
      #u9.mouseDown {
      }
      #u9_text {
        border-width:0px;
        position:absolute;
        left:2px;
        top:11px;
        width:995px;
        word-wrap:break-word;
      }
      #u10_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:533px;
        height:272px;
      }
      #u10 {
        border-width:0px;
        position:absolute;
        left:472px;
        top:344px;
        width:533px;
        height:272px;
      }
      #u10_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        visibility:hidden;
        word-wrap:break-word;
      }
      #u11_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:310px;
        height:134px;
      }
      #u11 {
        border-width:0px;
        position:absolute;
        left:292px;
        top:765px;
        width:310px;
        height:134px;
      }
      #u11_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:0px;
        visibility:hidden;
        word-wrap:break-word;
      }
      #u12_img {
        border-width:0px;
        position:absolute;
        left:0px;
        top:0px;
        width:798px;
        height:171px;
      }
      #u12 {
        border-width:0px;
        position:absolute;
        left:343px;
        top:222px;
        width:797px;
        height:170px;
        font-family:'Arial Fett', 'Arial Standard', 'Arial';
        font-weight:700;
        font-style:normal;
        font-size:48px;
        color:#333333;
        text-align:center;
      }
      #u12_text {
        border-width:0px;
        position:absolute;
        left:0px;
        top:56px;
        width:797px;
        word-wrap:break-word;
      }
      
}
