page-sehtestAnleitung1{

    .header img {
        float: right;
        margin-right: 100px;
        width: 30% !important;
      }
      
      .header h1 {
        position: relative;
        text-align: center; 
        font-size: 36px; 
      }
      ion-title {
        position: absolute;
        top: 1px; 
        padding: 0 5px 1px;
        width: 60%;
        height: 100%;
      }
      .btn {
        display:block;
        height: 90px;
        width: 200px;
        border: 5px ;
        font-size: 30px;
      }

}