page-sehtestAnleitung1{

    .header img {
        float: right;
        margin-right: 100px;
        width: 30% !important;
      }
      
      .header h1 {
        position: relative;
        text-align: center; 
        font-size: 36px; 
      }
    
}